@charset "UTF-8";
/*
    1400PX / 16PX => 87.5
    1200PX / 16PX => 75
    992PX / 16PX => 62
    768PX / 16PX => 48
    576PX / 16PX => 36
    480PX / 16PX => 30

    1400PX / 16PX => 87.5
    1200PX / 16PX => 75
    992PX / 16PX => 62
    768PX / 16PX => 48
    576PX / 16PX => 36
    480PX / 16PX => 30

*/
* {
  margin: 0;
  padding: 0;
}

html {
  /*
      1rem = 16px
      width: 91px -> 5.6875rem
      // ⚡⚡ transformarlo a 10px la fuente base 
      del root

      1rem = 10px
      width: 91px -> 9.1rem

      16px ===== 100%
      10px ----> 62.5%
  */
  font-size: 62.5%;
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 1.8rem;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}

.titulo-n2 {
  font-family: "Fira Code", monospace;
  font-size: 4rem;
}

.resumen-n2 {
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  color: #6c757d;
}

.titulo-n3 {
  font-family: "Fira Code", monospace;
  font-size: 2.4rem;
}

.resumen-n3 {
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  color: #6c757d;
  line-height: 2.8rem;
}

.h-100 {
  height: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.nav_bar {
  width: 100%;
  position: fixed;
  background-color: #011221;
}
.nav_bar div {
  display: flex;
  justify-content: space-between;
}
.nav_bar div .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bar div .logo a {
  color: #607b96;
  font-family: "Fira Code", monospace;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}
.nav_bar div .logo a:hover {
  transform: scale(1.2);
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.nav_bar div .logo a:hover span {
  color: #43d9ad;
}
.nav_bar div .navbar ul {
  display: flex;
}
.nav_bar div .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
}
.nav_bar div .navbar ul li .active {
  color: #3bbf98;
}
.nav_bar div .navbar ul li .active span {
  text-transform: uppercase;
}
.nav_bar div .navbar ul li a {
  text-align: center;
  align-items: center;
  color: rgba(96, 123, 150, 0.5137254902);
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  transition: all 0.3s;
  padding-top: 2rem;
}
.nav_bar div .navbar ul li a:hover {
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem ridge #fff;
  transition: all 0.3s;
}
.nav_bar div .navbar ul li a:hover span {
  text-transform: uppercase;
  transition: all 0.05s;
}
.nav_bar div .navbar ul li:last-child a {
  margin-right: 1rem;
}

.principal {
  background-color: #011221;
  height: 100vh;
}
.principal .part {
  display: flex;
}
.principal .part .texto {
  padding-top: 20rem;
}
.principal .part .texto > p {
  font-family: "Fira Code", monospace;
  color: #fff;
}
.principal .part .texto > p:first-child {
  font-size: 2.5rem;
}
.principal .part .texto .typer {
  font-family: "Fira Code", monospace;
  color: #fff;
}
.principal .part .texto .typer span {
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 6.2rem;
}
.principal .part .texto .modo {
  font-family: "Fira Code", monospace;
  font-size: 3.2rem;
  color: #4d5bce;
}
.principal .part .texto .comentario {
  padding-top: 7.5rem;
}
.principal .part .texto .comentario p {
  font-family: "Fira Code", monospace;
  font-size: 2.2rem;
  color: rgba(96, 123, 150, 0.5137254902);
}
.principal .part .texto .const {
  padding: 2rem 0;
}
.principal .part .texto .const > p {
  font-family: "Fira Code", monospace;
  font-size: 2.5rem;
  color: #e99287;
}
.principal .part .texto .const > p > span:first-child {
  color: #4d5bce;
}
.principal .part .texto .const > p > span:nth-child(2) {
  color: #43d9ad;
}
.principal .part .texto .const > p > span:nth-child(3) {
  color: #fff;
}
.principal .part .texto .const > p a {
  color: #e99287;
  cursor: pointer;
}
.principal .part .texto .btncv {
  padding-top: 3rem;
}
.principal .part .texto .btncv > a {
  font-family: "Fira Code", monospace;
  font-size: 1.5rem;
  border-radius: 1.7rem;
  border: 0.2rem solid #3bbf98;
  box-shadow: 1.6rem 1.4rem 2rem rgba(61, 197, 97, 0.5490196078);
  width: 17rem;
  height: 4em;
  color: #607b96;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.principal .part .texto .btncv > a::before {
  content: "";
  background-image: conic-gradient(#fff 100deg, transparent 120deg);
  width: 15rem;
  height: 4rem;
  position: absolute;
  animation: rotate 4s linear infinite;
}
.principal .part .texto .btncv > a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  width: 16.5rem;
  height: 5.7rem;
  top: 0.2rem;
  left: 0.2rem;
  background: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #607b96;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.5490196078);
  transition: all 0.2s ease-in-out;
}
.principal .part .texto .btncv > a > div {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.principal .part .texto .btncv > a > div i {
  color: #43d9ad;
}
.principal .part .texto .btncv > a > div span {
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: "Fira Code", monospace;
}
.principal .part .texto .btncv > a > div:hover i {
  color: #fff;
}
.principal .part .texto .btncv > a > div:hover span {
  font-family: "Poppins", sans-serif;
  color: #43d9ad;
  font-weight: 700;
  text-transform: uppercase;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media only screen and (max-height: 915px) {
  .principal .part .texto {
    padding-top: 18rem;
  }
}
.principal .part .imagen .imgbox {
  height: 100%;
  position: relative;
}
.principal .part .imagen .imgbox .land {
  position: absolute;
  top: 50%;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .land {
    left: 5rem;
  }
  .principal .part .imagen .imgbox .land img {
    width: 40rem;
  }
}
.principal .part .imagen .imgbox .computa {
  top: 40%;
  position: absolute;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .computa {
    left: 4rem;
  }
  .principal .part .imagen .imgbox .computa img {
    width: 40rem;
  }
}
.principal .part .imagen .imgbox .block1 {
  top: 34rem;
  left: 41rem;
  position: absolute;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .block1 {
    left: 36rem;
  }
  .principal .part .imagen .imgbox .block1 img {
    width: 6rem;
  }
}
.principal .part .imagen .imgbox .block2 {
  top: 29rem;
  left: 29rem;
  position: absolute;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .block2 {
    top: 26rem;
    left: 25rem;
  }
  .principal .part .imagen .imgbox .block2 img {
    width: 9rem;
  }
}
.principal .part .imagen .imgbox .block3 {
  top: 41rem;
  left: 21rem;
  position: absolute;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .block3 {
    top: 36rem;
    left: 17rem;
  }
  .principal .part .imagen .imgbox .block3 img {
    width: 6rem;
  }
}
.principal .part .imagen .imgbox .land1 {
  top: 24rem;
  left: 48rem;
  position: absolute;
}
.principal .part .imagen .imgbox .land1 img {
  width: 8rem;
}
.principal .part .imagen .imgbox .land2 {
  top: 77rem;
  left: 51rem;
  position: absolute;
}
.principal .part .imagen .imgbox .land2 img {
  width: 7rem;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .land2 {
    top: 51rem;
    left: 52rem;
  }
  .principal .part .imagen .imgbox .land2 img {
    width: 10rem;
  }
}
.principal .part .imagen .imgbox .land3 {
  top: 33rem;
  left: 3rem;
  position: absolute;
}
.principal .part .imagen .imgbox .land3 img {
  width: 8rem;
}
.principal .part .imagen .imgbox .land4 {
  top: 40rem;
  right: 76rem;
  position: absolute;
}
.principal .part .imagen .imgbox .land4 img {
  width: 12rem;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .land4 {
    top: 31rem;
    right: 71rem;
  }
  .principal .part .imagen .imgbox .land4 img {
    width: 12rem;
  }
}
.principal .part .imagen .imgbox .land5 {
  top: 62rem;
  right: 19rem;
  position: absolute;
}
.principal .part .imagen .imgbox .land5 img {
  width: 25rem;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .land5 {
    top: 56rem;
    right: 21rem;
  }
  .principal .part .imagen .imgbox .land5 img {
    width: 15rem;
  }
}
.principal .part .imagen .imgbox .tubo {
  top: 63rem;
  right: 26rem;
  position: absolute;
}
.principal .part .imagen .imgbox .tubo img {
  width: 8rem;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .tubo {
    top: 56rem;
    right: 24rem;
  }
  .principal .part .imagen .imgbox .tubo img {
    width: 6rem;
  }
}
.principal .part .imagen .imgbox .cloud1 {
  top: 9rem;
  left: 25rem;
  position: absolute;
}
.principal .part .imagen .imgbox .cloud1 img {
  width: 28rem;
}
.principal .part .imagen .imgbox .cloud2 {
  top: 63rem;
  left: 1rem;
  position: absolute;
}
.principal .part .imagen .imgbox .cloud2 img {
  overflow: hidden;
  width: 40rem;
  z-index: 0;
}
@media only screen and (max-height: 915px) {
  .principal .part .imagen .imgbox .cloud2 {
    top: 56rem;
    left: 11rem;
  }
  .principal .part .imagen .imgbox .cloud2 img {
    width: 34rem;
  }
}

.about {
  background-color: #011221;
  height: 100vh;
  color: #607b96;
  font-family: "Fira Code", monospace;
}
.about .container .title {
  padding-top: 15rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-height: 915px) {
  .about .container .title {
    padding-top: 8.5rem;
    padding-bottom: 3rem;
  }
}
.about .container .title .part1 {
  display: flex;
}
.about .container .title .part1 .logoimg {
  border: 5px solid #43d9ad;
  border-radius: 50%;
  width: 12rem;
  overflow: hidden;
}
.about .container .title .part1 .logoimg img {
  width: 100%;
}
.about .container .title .part1 .name {
  padding-top: 3rem;
  padding-left: 2rem;
}
.about .container .title .part1 .name h2 {
  font-size: 3rem;
  color: #4d5bce;
  padding-bottom: 1rem;
}
.about .container .title .part1 .name p {
  font-size: 1.8rem;
}
.about .container .title .part2 {
  display: flex;
  align-items: center;
}
.about .container .title .part2 p {
  font-family: "Fira Code", monospace;
  font-size: 2rem;
}
.about .container .title .part2 p:first-child {
  padding-right: 2rem;
}
.about .container .text {
  position: relative;
  background-color: rgba(30, 45, 61, 0.5254901961);
}
.about .container .text .container2 {
  font-family: "Fira Code", monospace;
  padding: 2rem;
  font-size: 2rem;
}
@media only screen and (max-height: 915px) {
  .about .container .text .container2 {
    font-size: 1rem;
  }
}
.about .container .text .container2 .morado {
  color: #4d5bce;
}
.about .container .text .container2 .green {
  font-weight: 300;
  color: #43d9ad;
}
.about .container .text .container2 .naranja {
  font-weight: 300;
  color: #e99287;
}
.about .container .text .container2 > p {
  font-size: 1.8rem;
}
@media only screen and (max-height: 915px) {
  .about .container .text .container2 > p {
    font-size: 1.8rem;
  }
}
.about .container .images {
  position: relative;
}
.about .container .images div {
  position: absolute;
}
.about .container .images div:first-child {
  top: 22rem;
  left: 66rem;
}
.about .container .images div:first-child img {
  width: 85rem;
}
@media only screen and (max-height: 915px) {
  .about .container .images div:first-child {
    top: -7rem;
    left: 57rem;
  }
  .about .container .images div:first-child img {
    width: 80rem;
  }
}
.about .container .images div:nth-child(2) {
  top: 19rem;
  left: -7rem;
}
.about .container .images div:nth-child(2) img {
  width: 14rem;
}
.about .container .images div:nth-child(3) {
  top: 42rem;
  left: -1rem;
}
.about .container .images div:nth-child(3) img {
  width: 6rem;
}
@media only screen and (max-height: 915px) {
  .about .container .images div:nth-child(3) {
    top: 32rem;
    left: 125rem;
  }
  .about .container .images div:nth-child(3) img {
    width: 5rem;
  }
}
.about .container .images div:nth-child(4) {
  top: 40rem;
  left: -10rem;
}
.about .container .images div:nth-child(4) img {
  width: 23rem;
}
@media only screen and (max-height: 915px) {
  .about .container .images div:nth-child(4) {
    top: 33rem;
    left: 120rem;
  }
  .about .container .images div:nth-child(4) img {
    width: 14rem;
  }
}

.project {
  background-color: #011221;
  height: 100vh;
  color: #607b96;
  font-family: "Fira Code", monospace;
}
.project .container .title {
  padding-top: 15rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-height: 915px) {
  .project .container .title {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
  }
}
.project .container .title .part1 {
  display: flex;
}
.project .container .title .part1 .logoimg {
  border: 5px solid #43d9ad;
  border-radius: 50%;
  width: 12rem;
  overflow: hidden;
}
.project .container .title .part1 .logoimg img {
  width: 100%;
}
.project .container .title .part1 .name {
  padding-top: 3rem;
  padding-left: 2rem;
}
.project .container .title .part1 .name h2 {
  font-size: 3rem;
  color: #4d5bce;
  padding-bottom: 1rem;
}
.project .container .title .part1 .name p {
  font-size: 1.8rem;
}
.project .container .title .part2 {
  display: flex;
  align-items: center;
}
.project .container .title .part2 p {
  font-family: "Fira Code", monospace;
  font-size: 2rem;
}
.project .container .title .part2 p:first-child {
  padding-right: 2rem;
}
.project .container .text {
  position: relative;
  background-color: rgba(30, 45, 61, 0.5254901961);
}
.project .container .text .container2 {
  font-family: "Fira Code", monospace;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
.project .container .text .container2 .cardPrincipal {
  padding: 2rem 0;
  width: 40rem;
}
.project .container .text .container2 .cardPrincipal .title2 {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.project .container .text .container2 .cardPrincipal .title2 p {
  color: #4d5bce;
}
.project .container .text .container2 .cardPrincipal .title2 p span {
  color: #607b96;
}
.project .container .text .container2 .cardPrincipal .card {
  border: 0.1rem solid #607b96;
  background-color: #011221;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.project .container .text .container2 .cardPrincipal .card .image {
  border: 0.1rem solid #607b96;
  border-radius: 2rem;
  width: 39.8rem;
  height: 14rem;
  overflow: hidden;
}
.project .container .text .container2 .cardPrincipal .card .image img {
  width: 100%;
  object-fit: fill;
}
.project .container .text .container2 .cardPrincipal .card .resume {
  padding: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}
.project .container .text .container2 .cardPrincipal .card .buton {
  display: flex;
  justify-content: start;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.project .container .text .container2 .cardPrincipal .card .buton > a {
  border: 0.1rem solid #1C2B3A;
  background-color: #1C2B3A;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  padding: 1.5rem 2rem;
  border-radius: 1.2rem;
}
.project .container .text .container2 .cardPrincipal .card:hover {
  border: none;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project .container .text .container2 .cardPrincipal .card:hover .image {
  border: none;
}
.project .container .images {
  position: relative;
}
.project .container .images div {
  position: absolute;
}
.project .container .images div:first-child {
  top: 22rem;
  left: 66rem;
}
.project .container .images div:first-child img {
  width: 85rem;
}
@media only screen and (max-height: 915px) {
  .project .container .images div:first-child {
    top: -7rem;
    left: 57rem;
  }
  .project .container .images div:first-child img {
    width: 80rem;
  }
}
.project .container .images div:nth-child(2) {
  top: 19rem;
  left: -7rem;
}
.project .container .images div:nth-child(2) img {
  width: 14rem;
}
.project .container .images div:nth-child(3) {
  top: 42rem;
  left: -1rem;
}
.project .container .images div:nth-child(3) img {
  width: 6rem;
}
@media only screen and (max-height: 915px) {
  .project .container .images div:nth-child(3) {
    top: 32rem;
    left: 125rem;
  }
  .project .container .images div:nth-child(3) img {
    width: 5rem;
  }
}
.project .container .images div:nth-child(4) {
  top: 40rem;
  left: -10rem;
}
.project .container .images div:nth-child(4) img {
  width: 23rem;
}
@media only screen and (max-height: 915px) {
  .project .container .images div:nth-child(4) {
    top: 33rem;
    left: 120rem;
  }
  .project .container .images div:nth-child(4) img {
    width: 14rem;
  }
}

.skills {
  background-color: #011221;
  height: 100vh;
  color: #607b96;
  font-family: "Fira Code", monospace;
}
.skills .container .title {
  padding-top: 15rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-height: 915px) {
  .skills .container .title {
    padding-top: 20rem;
    padding-bottom: 4rem;
  }
}
.skills .container .title .part1 {
  display: flex;
}
.skills .container .title .part1 .logoimg {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 12rem;
  overflow: hidden;
}
.skills .container .title .part1 .logoimg img {
  width: 100%;
}
.skills .container .title .part1 .name {
  padding-top: 3rem;
  padding-left: 2rem;
}
.skills .container .title .part1 .name h2 {
  font-size: 2.5rem;
  color: #4d5bce;
  padding-bottom: 1rem;
}
.skills .container .title .part1 .name p {
  padding-left: 7rem;
  font-size: 1.5rem;
}
.skills .container .cards2 {
  padding: 0 40rem;
  position: relative;
}
.skills .container .cards2 .container3 {
  display: flex;
  flex-direction: column;
}
.skills .container .cards2 .container3 .fila1 {
  gap: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.skills .container .cards2 .container3 .fila2 {
  gap: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.skills .container .images {
  position: relative;
}
.skills .container .images div {
  position: absolute;
}
.skills .container .images div:first-child {
  top: 11rem;
  left: 117rem;
}
.skills .container .images div:first-child img {
  width: 36rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:first-child {
    top: -32rem;
    left: 102rem;
  }
  .skills .container .images div:first-child img {
    width: 35rem;
  }
}
.skills .container .images div:nth-child(2) {
  top: 11rem;
  left: -23rem;
}
.skills .container .images div:nth-child(2) img {
  width: 55rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(2) {
    top: 18rem;
    left: 0rem;
  }
  .skills .container .images div:nth-child(2) img {
    width: 14rem;
  }
}
.skills .container .images div:nth-child(3) {
  top: 2rem;
  left: 124rem;
}
.skills .container .images div:nth-child(3) img {
  width: 6rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(3) {
    top: -18rem;
    left: 13rem;
  }
  .skills .container .images div:nth-child(3) img {
    width: 5rem;
  }
}
.skills .container .images div:nth-child(4) {
  top: 0rem;
  left: 120rem;
}
.skills .container .images div:nth-child(4) img {
  width: 25rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(4) {
    top: -17rem;
    left: 8rem;
  }
  .skills .container .images div:nth-child(4) img {
    width: 14rem;
  }
}
.skills .container .images div:nth-child(5) {
  top: -23rem;
  left: -9rem;
}
.skills .container .images div:nth-child(5) img {
  width: 48rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(5) {
    top: 5rem;
    left: 46rem;
  }
  .skills .container .images div:nth-child(5) img {
    width: 31rem;
  }
}
.skills .container .images div:nth-child(6) {
  top: 28rem;
  left: -28rem;
}
.skills .container .images div:nth-child(6) img {
  width: 69rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(6) {
    top: -17rem;
    left: 0rem;
  }
  .skills .container .images div:nth-child(6) img {
    width: 35rem;
  }
}
.skills .container .images div:nth-child(7) {
  top: 1rem;
  left: -33rem;
  transform: rotate(90deg);
}
.skills .container .images div:nth-child(7) img {
  width: 16rem;
}
@media only screen and (max-height: 915px) {
  .skills .container .images div:nth-child(7) {
    top: 11rem;
    left: -11rem;
    transform: rotate(90deg);
  }
  .skills .container .images div:nth-child(7) img {
    width: 12rem;
  }
}

.contact {
  background-color: #011221;
  height: 100vh;
  color: #607b96;
  font-family: "Fira Code", monospace;
}
.contact .container .title {
  padding-top: 15rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-height: 915px) {
  .contact .container .title {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}
.contact .container .title .part1 {
  display: flex;
}
.contact .container .title .part1 .logoimg {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 12rem;
  overflow: hidden;
}
.contact .container .title .part1 .logoimg img {
  width: 100%;
}
.contact .container .title .part1 .name {
  padding-top: 3rem;
  padding-left: 2rem;
}
.contact .container .title .part1 .name h2 {
  font-size: 2.5rem;
  color: #4d5bce;
  padding-bottom: 1rem;
}
.contact .container .title .part1 .name p {
  padding-left: 4rem;
  font-size: 1.5rem;
}
.contact .container .cards2 {
  padding: 0 10rem;
  position: relative;
  background-color: rgba(30, 45, 61, 0.5254901961);
}
.contact .container .cards2 .container3 {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.contact .container .cards2 .container3 .fila1 {
  font-size: 2rem;
}
.contact .container .cards2 .container3 .fila1 .morado {
  color: #7000ff;
  padding-bottom: 2rem;
  font-weight: 300;
}
.contact .container .cards2 .container3 .fila1 .blanco {
  color: #fff;
}
.contact .container .cards2 .container3 .fila1 .green {
  color: #43d9ad;
  font-weight: 300;
}
.contact .container .cards2 .container3 .fila1 .crema {
  color: #e99287;
}
.contact .container .cards2 .container3 .fila1 .espacio {
  padding-left: 5rem;
}
.contact .container .cards2 .container3 .fila1 .new {
  padding-bottom: 2rem;
}
.contact .container .cards2 .container3 .fila2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
.contact .container .cards2 .container3 .fila2 > p:first-child {
  color: #fff;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.contact .container .images {
  position: relative;
}
.contact .container .images div {
  position: absolute;
}
.contact .container .images div:first-child {
  top: 11rem;
  left: 117rem;
}
.contact .container .images div:first-child img {
  width: 36rem;
  display: none;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:first-child {
    top: -32rem;
    left: 102rem;
  }
  .contact .container .images div:first-child img {
    width: 35rem;
    display: none;
  }
}
.contact .container .images div:nth-child(2) {
  top: 11rem;
  left: -23rem;
}
.contact .container .images div:nth-child(2) img {
  width: 55rem;
  display: none;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(2) {
    top: 18rem;
    left: 0rem;
  }
  .contact .container .images div:nth-child(2) img {
    width: 14rem;
    display: none;
  }
}
.contact .container .images div:nth-child(3) {
  top: 2rem;
  left: 124rem;
}
.contact .container .images div:nth-child(3) img {
  width: 6rem;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(3) {
    top: -18rem;
    left: 13rem;
  }
  .contact .container .images div:nth-child(3) img {
    width: 5rem;
  }
}
.contact .container .images div:nth-child(4) {
  top: 0rem;
  left: 120rem;
}
.contact .container .images div:nth-child(4) img {
  width: 25rem;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(4) {
    top: -17rem;
    left: 8rem;
  }
  .contact .container .images div:nth-child(4) img {
    width: 14rem;
  }
}
.contact .container .images div:nth-child(5) {
  top: -23rem;
  left: -9rem;
}
.contact .container .images div:nth-child(5) img {
  width: 48rem;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(5) {
    top: 5rem;
    left: 46rem;
  }
  .contact .container .images div:nth-child(5) img {
    width: 31rem;
  }
}
.contact .container .images div:nth-child(6) {
  top: 28rem;
  left: -28rem;
}
.contact .container .images div:nth-child(6) img {
  width: 69rem;
  display: none;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(6) {
    top: -17rem;
    left: 0rem;
  }
  .contact .container .images div:nth-child(6) img {
    width: 35rem;
    display: none;
  }
}
.contact .container .images div:nth-child(7) {
  top: 1rem;
  left: -33rem;
  transform: rotate(90deg);
}
.contact .container .images div:nth-child(7) img {
  width: 16rem;
  display: none;
}
@media only screen and (max-height: 915px) {
  .contact .container .images div:nth-child(7) {
    top: 11rem;
    left: -11rem;
    transform: rotate(90deg);
  }
  .contact .container .images div:nth-child(7) img {
    width: 12rem;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
