.about{
    background-color: $color-primary;
    height: 100vh;
    color: $color-secundary;
    font-family: $font-principal;
    .container{
        .title{
            padding-top: 15rem;
            display: flex;
            justify-content: space-between;
            .part1{ 
                display: flex;
                .logoimg{
                    border: 5px solid $color-secundary-3;
                    border-radius: 50%;
                    width: 12rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .name{
                    h2{
                        font-size: 3rem;
                        color: $color-accent-3;
                    }
                    p{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}