.nav_bar{
    width: 100%;
    position: fixed;
    background-color: $color-primary-2;
    div{
        display: flex;
        justify-content: space-between;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: $color-secundary;
                font-family: $font-principal;
                font-size: 1.8rem;
                transition: all .2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    color: $color-secundary-4;
                    transition: all .2s ease-in-out;
                    span{
                            color: $color-secundary-3;
                    }
                }
                @media only screen and (max-width: 950px){
                    font-size: 1.5rem;
                }
            }
            @media only screen and (max-width: 1440px){
                margin-left: 2rem;
            }

        }
        .navbar{
            ul{
                display: flex;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 8rem;
                    .active{
                        color: $color-btn;
                        span{
                                text-transform: uppercase;
                        }
                    }
                    a{
                        text-align: center;
                        align-items: center;
                        color: $color-secundary-2;
                        font-family: $font-principal;
                        font-size: 1.6rem;
                        transition: all .3s;
                        // border-left:  .1rem solid $color-secundary-2;
                        
                        padding-top: 2rem;
                        
                        &:hover{
                            color: $color-secundary-4;
                            padding-bottom: .5rem;                       
                            border-bottom:  .3rem ridge $color-secundary-4;
                            
                            transition: all .3s; 
                            span{
                                    text-transform: uppercase;
                                    transition: all .05s; 
                            }
                        }
                        @media only screen and (max-width: 375px){
                            color: #fff ;
                        }
                        
                    }
                    &:last-child{
                        a{
                            margin-right: 1rem;
                        }
                        @media only screen and (max-width: 1440px){
                            margin-right: 6rem;
                        }
                        @media only screen and (max-width: 375px){
                            margin-right: -5rem;
                        }
                        
                    }
                    
                    @media only screen and (max-width: $bp-medium) {
                        padding-left: 3rem;  
                    }
                }
                @media only screen and (max-width: 375px) {
                    display: flex;
                    flex-direction: column;
                }
                
            }
            @media only screen and (max-width: 375px) {
                position: absolute;
                top: 60px;
                left: 0;
                background: $color-primary;
                width: 100%;
                height: 100vh;
                transform: translateX(-100%);
            }
        }
        .nav_toggle{
            display: none;
            @media only screen and (max-width: 375px) {
                display: flex !important;
                flex-direction: column;
                margin: 15px;
                span{
                    width: 30px;
                    height: 4px;
                    background: $color-secundary;
                    margin-bottom: 5px;
                    border-radius: 2px;
                    transform-origin: 5px 0px;
                    transition: all .2 linear;
                }
            }
        }
        .close{
            @media only screen and (max-width: 375px) {
                span{
                    &:first-child{
                        transform: rotate(45deg) translate(0px, 0px);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg) translate(-5px, 1px);
                    }

                }
            }
        }
        .open{
            
            @media only screen and (max-width: 375px) {
                transform: translateX(0) !important;
            }
        }
    }
}