.principal{
    background-color: $color-primary-2;
    // background-color: $color-secundary-4;
    height: 100vh;
    .part{
        display: flex;
        .texto{
            padding-top: 20rem;
            @media only screen and (max-width: 1370px){
                padding-left: 3rem;
            }
            >p{
                font-family: $font-principal;
                color: $color-secundary-4;
                &:first-child{
                    font-size: 2.5rem;
                    @media only screen and (max-width: 375px){
                        padding-bottom: 2rem;
                        padding-left: 2rem;
                    }
                }
                
            }
            .typer{
                    
                font-family: $font-principal;
                color: $color-secundary-4;
                span{
                    padding: .5rem 0;
                    text-transform: uppercase;
                    font-size: 6.2rem;
                    @media screen and (max-width: 768px) {
                        font-size: 4.2rem;
                    }
                    @media only screen and (max-width: 375px){
                        padding-left: 2rem;
                        font-size: 3.2rem;
                        text-align: center;
                    }
                }
                @media only screen and (max-width: 375px){
                    
                    padding-bottom: 2rem;
                    
                }
            }
            .modo{
                font-family: $font-principal;
                font-size: 3.2rem;
                color: $color-accent-3;
                @media only screen and (max-width: 1370px){
                    font-size: 2.8rem;
                }
                @media only screen and (max-width: 375px){
                    padding-left: 2rem;
                }
            }
            .comentario{
                padding-top: 7.5rem;
                p{
                    font-family: $font-principal;
                    font-size: 2.2rem;
                    color: $color-secundary-2;
                    
                    @media only screen and (max-width: 1370px){
                        font-size: 1.45em;
                    }
                }
                @media only screen and (max-width: 1370px){
                    margin-right: 30rem;
                }
                @media only screen and (max-width: 375px){
                    padding-top: 4rem;
                    padding-bottom: 3rem;
                    padding-left: 2rem;
                    margin-right: 2rem;
                }
            }
            .const{
                padding: 2rem 0;
                >p{
                    font-family: $font-principal;
                    font-size: 2.5rem;
                    color: $color-accent;
                    >span{
                        &:first-child{
                            color: $color-accent-3;
                        }
                        &:nth-child(2){
                            color: $color-secundary-3;
                        }
                        &:nth-child(3){
                            color: $color-secundary-4;
                        }
                    }
                    a{
                        color: $color-accent;
                        cursor: pointer;
                    }
                    @media only screen and (max-width: 1370px){
                        font-size: 1.5rem;
                    }
                    @media only screen and (max-width: 375px){
                        font-size: 1.3rem;
                    }
                }
            }
            .btncv{
                padding-top: 3rem;
                >a{
                    font-family: $font-principal;
                    font-size: 1.5rem;
                    border-radius: 1.7rem;
                    border: .2rem solid $color-btn;
                    box-shadow: 1.6rem 1.4rem 2rem #3dc5618c;
                    // padding: 2rem;
                    width: 17rem;
                    height: 4em;
                    color: $color-secundary;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    &::before{
                        content: "";
                        background-image: conic-gradient($color-secundary-4 100deg, transparent 120deg);
                        width: 15rem;
                        height: 4rem;
                        position: absolute;
                        animation: rotate 4s linear infinite;
                    }
                    &::after{
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "";
                        width: 16.5rem;
                        height: 5.7rem;
                        top: .2rem;
                        left: .2rem;
                        background: #101010;
                        position: absolute;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $color-secundary;
                        box-shadow: inset 20px 20px 20px #0000008c;
                        transition: all .2s ease-in-out;
                    }
                    // &:hover::after{
                    //     font-family: $font-principal;
                    //     font-weight: 300;
                    //     content: "curriculum";
                    //     color: $color-secundary-4;
                    //     letter-spacing: .1rem;
                    //     transition: all .2s ease-in-out;
                    // }
                    >div{
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        i{
                            color: $color-secundary-3;
                        }
                        span{
                            text-align: center;
                            width: 100%;
                            color: #fff;
                            font-family: $font-principal;
                        }
                        &:hover{
                            i{
                                color: $color-secundary-4;
                            }
                            span{
                                font-family: $font-secundary;
                                color: $color-secundary-3;
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                
                @keyframes rotate {
                    0%{
                        transform: rotate(0deg);
                    }
                    25%{
                        transform: rotate(90deg);
                    }
                    50%{
                        transform: rotate(-180deg);
                    }
                    75%{
                        transform: rotate(270deg);
                    }
                    100%{
                        transform: rotate(-360deg);
                    }
                }
                @media only screen and (max-width: 375px){
                    padding-left: 10rem;
                    padding-top: 5rem;
                }
            }
            @media only screen and (max-height: 915px){
                padding-top: 18rem;
            }
            
        }
        .imagen{
            .imgbox{
                height: 100%;
                position: relative;
                .land{
                    position: absolute;
                    top: 50%;
                    @media only screen and (max-height: 915px){
                        left:5rem;
                        img{
                            width: 40rem;
                        }
                    }
                    
                    @media only screen and (max-width: 1370px){
                        top: 36rem;
                        left: -9rem;
                        img{
                            width: 26rem;
                        }
                    }
                    @media only screen and (max-width: 950px){
                        top: 21rem;
                        left: -25rem;
                        img{
                            width: 20rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        top: 82rem;
                        left: -36rem;
                        img{
                            width: 20rem;
                        }
                    }
                }
                .computa{
                    top: 40%;
                    position: absolute;
                    @media only screen and (max-height: 915px){
                        left:4rem;
                        img{
                            width: 40rem;
                        }
                    }
                    
                    @media only screen and (max-width: 1370px){
                        top: 27rem;
                        left: -16rem;
                        img{
                            width: 34rem;
                        }
                    }
                    @media only screen and (max-width: 950px){
                        top: 16rem;
                        left: -28rem;
                        img{
                            width: 23rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        top: 78rem;
                        left: -40rem;
                    }
                }
                .block1{
                    top: 34rem;
                    left: 41rem;
                    position: absolute;
                    @media only screen and (max-height: 915px){
                        left:36rem;
                        img{
                            width: 6rem;
                        }
                    }
                    @media only screen and (max-width: 1370px){
                        
                        left: 11rem;
                    }
                    @media only screen and (max-width: 950px){
                        top: 19rem;
                        left: -10rem;
                        img{
                            width: 3rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        top: 82rem;
                        left: -20rem;
                    }
                }
                .block2{
                    top: 29rem;
                    left: 29rem;
                    // right: 100%;
                    position: absolute;
                    @media only screen and (max-height: 915px){
                        top: 26rem;
                        left: 25rem;
                        img{
                            width: 9rem;
                        }
                    }
                    
                    @media only screen and (max-width: 1370px){
                        top: 25rem;
                        left: 1rem;
                    }
                    @media only screen and (max-width: 950px){
                        top: 14rem;
                        left: -17rem;
                        img{
                            width: 6rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        top: 75rem;
                        left: -29rem;
                    }
                }
                .block3{
                    top: 41rem;
                    left: 21rem;
                    // right: 100%;
                    position: absolute;
                    @media only screen and (max-height: 915px){
                        top: 36rem;
                        left: 17rem;
                        img{
                            width: 6rem;
                        }
                    }
                    @media only screen and (max-width: 1370px){
                        top: 36rem;
                        left: -8rem;
                    }
                    @media only screen and (max-width: 950px){
                        top: 22rem;
                        left: -21rem;
                        img{
                            width: 3rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        top: 83rem;
                        left: -32rem;
                    }
                }
                .land1{
                    top: 24rem;
                    left: 48rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 8rem;
                    }
                    @media only screen and (max-width: 1370px){
                        top: 14rem;
                        left: -14rem;
                    }
                    @media only screen and (max-width: 950px){
                        
                        img{
                            display: none;
                        }
                    }
                }
                .land2{
                    top: 77rem;
                    left: 51rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 7rem;
                    }
                    @media only screen and (max-height: 915px){
                        top: 51rem;
                        left: 52rem;
                        img{
                            width: 10rem;
                        }
                    }
                    
                    @media only screen and (max-width: 1370px){
                        top: 72rem;
                        left: 1rem;
                    }
                    @media only screen and (max-width: 950px){
                        
                        img{
                            display: none;
                        }
                    }
                }
                .land3{
                    top: 33rem;
                    left: 3rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 8rem;
                    }
                    @media only screen and (max-width: 1370px){
                        top: 70rem;
                        left: -50rem;
                    }
                    @media only screen and (max-width: 950px){
                        
                        img{
                            display: none;
                        }
                    }
                }
                .land4{
                    top: 40rem;
                    right: 76rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 12rem;
                    }
                    @media only screen and (max-height: 915px) {
                        top: 31rem;
                        right: 71rem;
                        img{
                            width: 12rem;
                        }
                    }
                }
                
                .land5{
                    top: 62rem;
                    right: 19rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 25rem;
                    }
                    @media only screen and (max-height: 915px){
                        top:56rem;
                        right: 21rem;
                        img{
                            width: 15rem;
                        }
                    }
                    @media only screen and (max-width: 768px){
                        
                        img{
                            width: 14rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        display: none;
                    }
                }
                
                .tubo{
                    top: 63rem;
                    right: 26rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 8rem;
                    }
                    @media only screen and (max-height: 915px){
                        top:56rem;
                        right: 24rem;
                        img{
                            width: 6rem;
                        }
                    }
                    @media only screen and (max-width: 768px){
                        top: 61rem;
                        right: 22rem;
                        img{
                            width: 6rem;
                        }
                    }
                    @media only screen and (max-width: 375px){
                        display: none;
                    }
                }
                .cloud1{
                    top: 9rem;
                    left: 25rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        width: 28rem;
                    }
                    @media only screen and (max-width: 1370px){
                        top: 13rem;
                        left: -21rem;
                    }
                    @media only screen and (max-width: 950px){
                          img{
                            display: none;
                          }  
                    }
                }
                .cloud2{
                    top: 63rem;
                    left: 1rem;
                    // right: 100%;
                    position: absolute;
                    img{
                        overflow: hidden;
                        width: 40rem;
                        z-index: 0;
                    }
                    @media only screen and (max-height: 915px){
                        top:56rem;
                        left: 11rem;
                        img{
                            width: 34rem;
                        }
                    }
                    @media only screen and (max-width: 1370px){
                        top: 48rem;
                        left: -16rem;
                    }
                    @media only screen and (max-width: 950px){
                            img{
                                display: none;
                            }
                    }
                }
            }
        }
    }
}