.project{
    background-color: $color-primary-2;
    height: 100vh;
    color: $color-secundary;
    font-family: $font-principal;
    .container{
        .title{
            padding-top: 15rem;
            padding-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-height: 915px){
                padding-top: 8.5rem;
                padding-bottom: 4rem;
            }
            .part1{ 
                display: flex;
                .logoimg{
                    border: 5px solid $color-secundary-3;
                    border-radius: 50%;
                    width: 12rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .name{
                    padding-top: 3rem;
                    padding-left: 2rem;
                    h2{
                        font-size: 3rem;
                        color: $color-accent-3;
                        padding-bottom:1rem;
                    }
                    p{
                        font-size: 1.8rem;
                    }
                }
            }
            .part2{
                display: flex;
                align-items: center;
                p{
                    font-family: $font-principal;
                    font-size: 2rem;
                    &:first-child{
                        padding-right: 2rem;
                    }
                }
            }
        }
        .text{
            position: relative;
            background-color: #1e2d3d86;
            .container2{
                font-family: $font-principal;
                padding: 2rem;
                font-size: 1.5rem;
                display: flex;
                justify-content: space-around;
                gap: 4rem;
                .cardPrincipal{
                    padding: 2rem 0;
                    width: 40rem;
                    .title2{
                        padding-left: 1rem;
                        padding-bottom: 2rem;
                        p{
                            color: $color-accent-3;
                            span{
                                color: $color-secundary;
                            }
                        }
                    }
                    .card{
                        border: .1rem solid $color-secundary;
                        background-color: $color-primary-2;
                        border-radius: 2rem;
                        transition: all .2s ease-in-out;
                        .image{
                            border: .1rem solid $color-secundary;
                            border-radius: 2rem;
                            width: 39.8rem;
                            height: 14rem;
                            overflow: hidden;
                            img{
                                width: 100%;
                                object-fit:fill;
                            }
                        }
                        .resume{
                            padding: 2rem;
                            font-weight: 500;
                            font-size: 1.6rem;
                        }
                        .buton{
                            display: flex;
                            justify-content: start;
                            padding-bottom: 2rem;
                            padding-left: 2rem;
                            >a{
                                border: .1rem solid $color-btn-2;
                                background-color: $color-btn-2;
                                color: $color-secundary-4;
                                font-size: 1.3rem;
                                font-family: $font-principal;
                                font-weight: 300;
                                padding: 1.5rem 2rem;
                                border-radius: 1.2rem;
                            }
                        }
                        &:hover{
                            border: none;
                            transform: scale(1.1);
                            transition: all .2s ease-in-out;
                            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                            .image{
                                border: none;
                            }
                        }
                    }
                }
            }
        }
        
        .images{
            position: relative;
            div{
                position: absolute;
                &:first-child{
                    top: 22rem;
                    left: 66rem;
                    img{
                        width: 85rem;
                    }
                    @media only screen and (max-height: 915px){
                        top: -7rem;
                        left: 57rem;
                        img{
                            width: 80rem;
                        }
                    }
                }
                &:nth-child(2){
                    top: 19rem;
                    left: -7rem;
                    img{
                        width: 14rem;
                    }
                }
                &:nth-child(3){
                    top: 42rem;
                    left: -1rem;
                    img{
                        width: 6rem;
                    }
                    @media only screen and (max-height: 915px){
                        top: 32rem;
                        left:125rem;
                        img{
                            width: 5rem;
                        }
                    }
                }
                &:nth-child(4){
                    top: 40rem;
                    left: -10rem;
                    img{
                        width: 23rem;
                    }
                    @media only screen and (max-height: 915px){
                        top: 33rem;
                        left:120rem;
                        img{
                            width: 14rem;
                        }
                    }
                }
            }
        }
    }
}